@charset "utf-8";

/*!
 * @Update: 2019 / 12 /09
 * @Author: Moldy Br3ad
 * @Github: https://www.github.com/br3ad
 * @Email: moldybr3ad@gmail.com
 * @Instagram: https://www.instagram.com/x_bread/
*/


/*!
 * Reset Style
*/
body {
  text-align: center;
  background-color: rgba(43, 43, 43, 1);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

div,
td,
button,
input,
select,
textarea {
  text-align: left;
}

body,
div,
img,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
textarea,
p,
fieldset,
table,
pre,
th,
td,
dl,
dt,
dd,
blockquote {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

/*!
 * Clearfix 
*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*!
 * HTML5
*/
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}

/*!
 * JS-container
*/
.js-container {
  overflow: hidden;
  max-width: 860px;
  margin: 2em auto 0;
  color: #fff;
}

/*!
 * Title 
*/
.title {
  padding: 1em 0;
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

/*!
 * Paragraph text
*/
.text-paragraph {
  margin: .5em 0;
  color: #fff;
  font-size: .8em;
  line-height: 1.5;
}

/*!
 * Pre
*/
.js-pre,
.js-code {
  position: relative;
  font-size: 14px;
}

.js-pre {
  display: inline-block;
  vertical-align: top;
  padding-left: 1.8em;
  margin: .8em 0;
  counter-reset: linenumber;
}

.js-pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: normal;
  word-wrap: break-word;
  padding: 2.5em;
  border-radius: 5px;
  line-height: 1.4;
  color: #fff;
  background: #666;
}

/*!
* Code
*/
.js-pre>.js-code {
  display: block;
  text-align: left;
  white-space: inherit;
}

/*!
* Line Numbers Rows
*/
.line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: -2em;
  width: 1.8em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows>span {
  display: block;
  pointer-events: none;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  display: block;
  padding-right: .6em;
  text-align: right;
  color: #999;
  content: counter(linenumber);
}

/*!
 * JS-list
*/
.js-list {
  position: relative;
  text-align: left;
}

.js-list>li.js-list-item {
  position: relative;
  padding: .5em 1em;
  font-size: .8em;
  line-height: 1.5;
  color: #fff;
}

.js-list>li.js-list-item::before {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: auto;
  background-color: #fff;
}