@charset "utf-8";


/*  
  * Resume For Xie Chang Chun 
  * Author: @Br3ad.Xie
  * Update：2019/11/09
  * Tel: 13671012707
  * @Email: moldybr3ad@gmail.com
  * @Github: https://github.com/br3ad
  * @Sina Weibo：https://weibo.com/835876986
  * @Instagram：https://www.instagram.com/x_bread/
*/


/*!
 * Reset Style 
*/
body {
  text-align: center;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-family: "MicroSoft YaHei", tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}

div, td, button, input, select, textarea { text-align: left; }
body, div, img, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, fieldset, table, pre, th, td, dl, dt, dd, blockquote
{ margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }

img {
  border: 0;
  vertical-align: middle;
}

address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }

ul li { list-style-image: none; list-style-position: outside; list-style-type: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 1.1em; vertical-align: baseline; *zoom: 1; }

input, textarea, select, button { font-size: 14px;font-family: "MicroSoft YaHei"; *vertical-align: middle; }

input[type=radio], input[type=checkbox] { vertical-align: middle; }

textarea { overflow: auto; resize: none;}

a:focus,
button:focus { outline-style: none; outline-width: 0; }


/*!
 * Clearfix 
*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.clear { clear:both; height:0px; line-height: 0; font-size: 0; overflow: hidden; zoom:1; }


/*!
 * HTML5
*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }
