@charset "utf-8";


/*  
  * Resume For Xie Chang Chun 
  * Author: @Br3ad.Xie
  * Update：2019/11/09
  * Tel: 13671012707
  * @Email: moldybr3ad@gmail.com
  * @Github: https://github.com/br3ad
  * @Sina Weibo：https://weibo.com/835876986
  * @Instagram：https://www.instagram.com/x_bread/
*/


/*!
 * Tools Class 
*/
.text-simsun { font-family: "Simsun"; }
.text-htmlchar { font-family: "Simsun"; }
.text-arial { font-family: "Arial"; }
.text-bold { font-size: 18px; color: #ff6000; font-weight: 500; }
.text-underline,
.text-underline:hover { text-decoration: underline; }
.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.text-line { display: inline-block; *display: inline; *zoom: 1; margin: 0 5px; }
.pull-left { float: left!important; }
.pull-right { float: right!important; }

.show {display: block!important;}
.hide {display: none!important;}
.text-nowrap { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/*!
 * Icon
*/
.icon { position: relative; display: inline-block; *display: inline; *zoom: 1; font-size: 0; vertical-align: middle; width: 30px; height: 30px; top: -1px; }

/*!
 * Clearfix
*/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.clear { clear:both; height:0px; line-height: 0; font-size: 0; overflow: hidden; zoom:1; }

