
/* CSS Document  ========================================================================== */

body {font:2rem/1.5 "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif;}
.img-rounded {border-radius: 20px !important;width: 150px;min-height: 150px;}
ol,ul{list-style:none}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: 0;}
.btn-primary[disabled]:hover {background-color: #fff;border-color: #fff;color: #262831;}
.btn-default[disabled]:hover {background-color: transparent;border-color: #fff;color: #fff;}
.row {padding: 4rem 0;}
.navbar {border-radius: 0;}
.navbar-inverse {background:#0d0735;border: 0 none;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border: 0 none;}
.dropdown-menu {border-radius: 2px;min-width: 110px;}
.dropdown-menu>li>a {padding: 8px 20px;}
.navbar-nav {margin: 0;}

.navbar-wrapper {position: absolute;top:0;left: 0;right: 0;}
.jumbotron {padding-top:28%;margin-bottom:0;background: url("../images/section1-bg.jpg") repeat center;background-size: cover;}
.jumbotron.team {padding:5rem 0 1rem 0;background: url("../images/banner-team-bg.jpg") repeat center;background-size: cover;}


@media screen and (min-width: 320px) and (max-width:568px) {
    .img-industry {height:28rem;background:url("../images/industry-m.png") no-repeat center;background-size: 100%  100%;}
    .jumbotron .btns a.btn-primary,.jumbotron .btns a.btn-default {width: 100%;margin-bottom: 1.5rem;}
}

@media screen and (min-width: 375px) and (max-width:667px) {
    .col-md-4.col-desc {margin-left: 10%;width: 80%;}
    .col-md-4.col-chart {margin-left: 10%;width: 80%;margin-top: 10%;}
    .col-md-4.col-example {width: 100%;}
    ul.chart-example {margin-top: 15% !important;}
    .col-team {margin-bottom: 15%;padding: 0 10% !important;}
    ul.nav-footer {padding-left: 0;}
    ul.nav-footer li>a {float: left !important;line-height: 2;}
    .footer-left,.footer-right {width: 100% !important;}
    .navbar-header {background-color: #0d0735;padding-left: 0 !important;}
    .navbar-nav>li>a {line-height: 40px;}
    .navbar-inverse .navbar-nav>li>a {border-bottom: 1px #eee solid;color: #0d0735 !important;text-transform: capitalize;}
    .img-responsive.logo {width: 65%;padding-top: 5px;}
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {max-height: 100%;background-color: #fff;}
    .jumbotron .btns a.btn-primary,.jumbotron .btns a.btn-default {display: block;margin-bottom: 2rem;}
    ul.social-icons {text-align: center;margin-top: 3rem;}
    .col-md-6.footer-logo {text-align: center;}
    .col-md-6.footer-logo img {display: inline-block;padding-top: 2rem;}
    .container-fluid.news h1 {text-align: center !important;}
    .col-md-4.events {padding: 0;}
    .col-md-8.news {padding: 0 !important;}
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {background-color: #f1f4fa;}
    .navbar-nav .open .dropdown-menu>li>a {line-height: 4rem;}
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {font-size: 2rem;color: #0d0735;border-bottom: 1px #eee solid;}
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {padding-left: 15px;}
    .media {padding: 0 !important;opacity: 1 !important;}
    .media:hover, .media.active {background: transparent !important;}
    .col-md-6.tech {padding: 0;}
    .col-md-6.tech-img p {opacity: 1 !important;}
    .media .media-body h4 {text-align: center;}
    .jumbotron.team {padding:5rem 0 2rem 0;}
    .thumbnail.team h4 {text-align: center;}
    .img-industry {height:34rem;background:url("../images/industry-m.png") no-repeat center;background-size: 100%  100%;}
}
@media screen and (min-width: 480px) and (max-width:767px) {
    .img-industry {height:60rem;background:url("../images/industry-m.png") no-repeat center;background-size: 100%  100%;}
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 8%;
        padding-bottom: 10%;
    }
    .navbar-nav>li>a {line-height:50px;padding-bottom:0;font-size: 16px;color: #fff;}
    .navbar-brand {padding-left: 30px;}
    .navbar-right {margin-right: 1rem;}
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {background: transparent;}
    .navbar-brand {margin-right: 5rem;}
    .col-md-6.tech {padding: 0 2rem 0 0;}
    .container.team {padding: 0;}
    .img-industry {width: 90%;height:30rem;background:url("../images/industry.png") no-repeat center;background-size: 100%  100%;margin: 0 auto;}
}

.navbar {margin-bottom: 0;}
.navbar-brand {padding: 6px 15px;}
.navbar-brand img {width: 85%;}
.navbar-nav>li>a {padding-top: 0;}
.navbar-default {background: transparent;border: 0 none;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {background: transparent;color: #2ce0cc;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover,.navbar-nav>li.active a {color: #2ce0cc;box-shadow: inset 0 -3px 0 #2ce0cc;}
.navbar-inverse .navbar-nav>li>a {color: #fff;}
.navbar-brand {height: auto;}
.jumbotron .h1, .jumbotron h1 {color: #fff;font-weight: bold;font-size: 45px;line-height: 1.3;}
.jumbotron p {color: #fff;font-size:1.8rem;margin-bottom: 8px;}
.jumbotron .btns {margin-top: 10rem;}
.jumbotron .btns a {margin: 0 .5rem;}
.jumbotron .btns a.btn-primary {background-color: #fff;color: #014ccc;border-radius: 0;border: 0 none;outline: 0 none;text-transform: uppercase;font-weight: bold;}
.jumbotron .btns a.btn-primary:hover {background-color: #2ce0cc;color: #fff;}
.jumbotron .btns a.btn-default {background:transparent;color: #fff;padding: 13px 40px;border-radius: 0;border: 2px #fff solid;outline: 0 none;text-transform: uppercase;font-weight: bold;}
.jumbotron .btns a.btn-default:hover {background: #2ce0cc;border:2px #2ce0cc solid;color: #fff;}
.btn-group-lg>.btn, .btn-lg {padding: 15px 40px;}

h1.title-black {text-align: center;font-weight: bold;color: #444;margin-top:5rem;margin-bottom: 1rem;text-transform: uppercase;}
h1.title-black.team {margin-top: 0;}
.spacing-line {width: 50px;height: 6px;background-color: #999;margin: 0 auto;}
h4.heading-subtitle {text-align: center;color: #777;margin: 2rem 0;}
.bg-gray {background-color: #f1f4fa;}
.img-center {display: inline-block;}
.section-2-num {float: left;width: 30%;font-size: 65px;line-height:65px;font-weight: bold;color: #cfd7e6;letter-spacing: -.2rem;}
.section-2-txt {float: left;text-align:left;width:60%;line-height:90px;}
.section-2-txt h4 {color: #444;font-weight: bold;}
.section-2-txt h5 {color: #666;font-size: 1.5rem;line-height: 1.5;}
.no-padding {padding: 0;}
.thumbnail {border: 0 none;text-align: center;margin-bottom:0;padding-top: 2rem;}
.thumbnail:hover {background-color: #f1f4fa;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: all .2s linear;
}
.thumbnail h4 {font-weight: bold;color: #444;}
.thumbnail p {font-size: 1.5rem;color: #999;}
.row.solution {padding-top:1rem;padding-bottom: 0;}
.row.solution:hover .media {background: rgba(255,255,255,.1);cursor: pointer;}
.row.solution:hover .col-md-6.tech-img p {opacity: 1;}

.container-fluid.tech {background-color: #014ccc;padding-bottom: 5rem;}
.container-fluid.tech h1 {color: #fff;}
.container-fluid.tech .spacing-line {background-color: #fff;}
.media {color: #fff;opacity: .75;padding: 1rem;}
.media-heading {margin-bottom: 10px;}
.media.active {opacity: 1;}
.media .media-left {font-weight: bold;padding-right: 2rem;vertical-align: top;}
.media .media-body h4 {font-weight: bold;}
.media .media-body p {font-size: 1.4rem;}
.col-md-6.tech-img p {opacity: .75;margin-bottom: 2.2rem;}
.col-md-6.tech-img p.active {opacity: 1;}
.col-md-6.tech-img {padding: 0;}

.container-fluid.video {background:url("../images/video-bg.jpg") no-repeat center;background-size:cover;padding-bottom: 5rem;}
.container-fluid.video h1 {color: #fff;}
.container-fluid.video .spacing-line {background-color: #fff;}
.col-md-12.video {padding: 0;}

.container-fluid.news {background: #f1f4fa;}
.container-fluid.news h1 {text-align: left;margin-top:1rem;border-bottom: 1px #dee3ed solid;padding-bottom: 1.2rem;margin-bottom: 0;}
.container-fluid.news h4 {line-height: 1.5;height: 55px;overflow: hidden;}
.container-fluid.news .row {padding-top: 2.5rem;}
.container-fluid.news p.desc {height: 65px;overflow: hidden;}
.container-fluid.news .thumbnail {text-align: left;padding: 1rem 2rem;margin-bottom: 2rem;}
.container-fluid.news .thumbnail:hover {background-color: #fff;}
.container-fluid.news .thumbnail a {color: #444;}
.container-fluid.news .thumbnail a:hover {color: #014ccc;text-decoration: none;}
.container-fluid.news .thumbnail a:active,.container-fluid.news .thumbnail a:focus  {text-decoration: none;}
.col-md-8.news {padding: 0 1rem 0 0;}
.col-md-4.events {text-align: right;}
.col-md-4.events .row {margin-left: 0;}
.col-md-4.events .row img {width: 100%;padding-right: 15px;height: 470px;}

.container-fluid.partner {text-align: center;background-color: #f1f4fa;border-top:1px #dee3ed solid;}
.container-fluid.partner h4 {color: #444;font-weight: bold;}
ul.logowall {margin: 0 0 4rem 0;padding: 0;}
ul.logowall li {display: inline-block;}
ul.logowall li a {margin: 2rem 3rem;display: inline-block;}
ul.logowall li a img {height: 40px;}

footer.container-fluid {background-color: #0d0735;padding: 2rem 0;}
footer.container-fluid .row {padding: 0 0 2rem 0;border-bottom: 1px #1e1943 solid;}
ul.nav-footer {text-align:center;padding: 0;}
ul.nav-footer li {display:inline-block;text-align:center;}
ul.nav-footer li a {font-size: 1.5rem;color: #fff;line-height: 2.5;width: calc(100%/5);}
.row.copyright {color: #fff;text-align: center;border-bottom: 0 none !important;padding-bottom: 0 !important;}
.row.copyright p {font-size: 1rem;padding-top: 2rem;opacity: .75;}
.col-md-6.footer-social {text-align: right;padding:0;}
ul.social-icons {padding: 0;}
ul.social-icons li {display: inline-block;}

.tech-inner {margin-top: 4rem;}

.thumbnail.team {background: transparent;padding: 0;text-align: left;}
.thumbnail.team h4 {border-bottom: 1px #dee3ed solid;padding-bottom: 1.3rem;margin-bottom: 1rem;}
.thumbnail.team p {color: #666;}
.thumbnail.team:hover {
    background-color: #f1f4fa;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0s linear;
}
.thumbnail .caption {
    /* max-height: 255px; */
    overflow: hidden;
}
.container.team {margin-bottom: 5rem;}
.container.team .row {padding-bottom: 0;}




.team .linkedin img {
    display: inline;
    padding-right: 10px;
    vertical-align: middle;
}


.teleGram {
    position: fixed;
    font-size: 14px;
    right: 20px;
    bottom: 20px;
    height: 47px;
    background: #00b07c;
    line-height: 47px;
    border-radius: 25px;
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
    user-select: none;
}
.teleGram img {
    width: 20px;
}
.teleGram a {
    text-decoration: none;
    color: #fff;
}
.teleGram a:hover,
.teleGram a:focus {
    text-decoration: none;
    color: #fff;
}
.teleGram span {
    display: inline-block;
    color: #fff;
}




















